@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden; */
  background: #272727;
}
body {
  color: #E0F1FF;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
}

canvas {
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0.75em auto 0;
}

nav {
  background-color: rgba(46, 46, 61, 0.9);

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 8vh;
  padding: 0 1.50em;
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a {
  color: #E0F1FF;
  font-weight: 700;
  text-decoration: none;
}

.button, .buy-card-sold p {
  display: inline-block;
  padding: 0.75em 1.75em;
  margin: .5em 0;

  background: #006A71;
  color: #E0F1FF;

  border: none;
  border-radius: .5em;

  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;

  cursor: pointer;
  transition: all 500ms ease;
}

.button:hover {
  background: #01575e;
  color: #E0F1FF;
}

.buy-card-sold {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px !important;
}
.buy-card-sold p {
  width: 150px;
  text-align: center;
}

.info {
  position: absolute;
	bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0;
	background-color: rgba(46, 46, 61, 0.9);
	width: 500px;
	height: 250px;
  padding: 0.25em 2em;
}
#buy-land-card {
  left: auto;
  right: 0;
}

.info--owner {
  margin-left: 1.50em;
}

.info--buy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.50em auto;

}

.info--member {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.50em auto;

}

#land-property-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 17em;
}

#land-property-buttons-container button {
  font-size: 22px;
  height: 200px;
  width: 500px;
  background-color: #68abb3;
  border: none;
  border-radius: 5px;
}

#land-property-buttons-container #landmap-btn {
  margin-right: 40px;
}

#land-property-buttons-container #properties-btn {
  margin-left: 40px;
}

#app-title {
  text-align: center;
  margin-top: 140px;
}

canvas {
  background-color: rgba(32, 32, 46, 0.9);
}

.showLandMap {
  display: block;
}

.hideLandMap {
  display: none;
}

.nav-title {
  font-weight: bold;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.zoom-wrapper {
  position: absolute;
  right: 50px;
  bottom: 2px;
  text-align: center;
  z-index: 5;
  transform: translateX(-50%);
  pointer-events: none;
}

.zoom-bar {
  color: #fff;
  margin: 0 5px;
  pointer-events: all;
  text-align: center;
}

.zoom-button {
  align-items: center;
  justify-content: center;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 28px;
  padding: 10px;
  border-bottom: 1px solid rgba(34, 34, 34, 0);
  outline: none;
}

#zoom-out {
margin-right: 10px;
}

.zoom-button button {
  background-color: none;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.property-card {
  position: absolute;
  justify-content: start;
  padding: 40px 0 0 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.property-card p {
text-align: left;
}

.new-buy-button-container {
  display: flex;
}

.back-to-map {
margin-top: 50px;
}

#propertyListings {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-top: 100px;
  text-align: left;
}
#propertyListings h1 {
  margin-bottom: 70px;
}
  
  #propertyListings hr {
  width: 50%;
}
.back-btn {
  margin-top: 100px;
  margin-left: 20px;
}

#property-buy-btn {
  display: flex;
  justify-content: space-between;
}

.back-btn-container {
  display: flex;
  width: 100%;
}